<!DOCTYPE html>
{% include head.html %}

	<body>
		{% module NavbarSSDUT(url) %}
		<div class="container">
			<div class="row row-offcanvas row-offcanvas-right">
				<div class="col-xs-12 col-sm-9">
					<form action="/add_contacts" method="post" class="form-horizontal" role="form">
            {% module xsrf_form_html() %}
						<div class="form-group">
							<label for="firstname" class="col-sm-2 control-label">名字</label>
							<div class="col-sm-10">
								<input type="text" name="name" class="form-control" style="width: 240px;"
												   placeholder="请输入名字" required>
							</div>
						</div>
						<div class="form-group">
							<label for="grade" class="col-sm-2 control-label">年级</label>
							<div class="col-sm-10">
                <select name="grade" id="new_type" class="form-control" style="width: 240px;">
                    <option value="">请选择</option>
                  {% for year in [x for x in range(2005, 2018)] %}
                    <option value="{{ year }}">{{ year }}</option>
                  {% end %}
                </select>
							</div>
						</div>
						<div class="form-group">
							<label for="phonenum" class="col-sm-2 control-label">联系电话</label>
							<div class="col-sm-10">
								<input type="text" name="phonenum" class="form-control" style="width: 240px;"
												   placeholder="请输入联系电话" required>
							</div>
						</div>
						<div class="form-group">
							<label for="place" class="col-sm-2 control-label">所在地</label>
							<div class="col-sm-10">
								<input type="text" name="place" class="form-control" style="width: 240px;"
												   placeholder="请输入所在地" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary add_con">提交</button>
							</div>
						</div>
					</form>
          <div class="row">
            <div class="alert alert-success alert-dismissable" style="display: none;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times;
              </button>
              提交成功
            </div>
          </div>
        </div>

				{% include right_navigation.html %}
			</div>
		{% include foot.html %}
