<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>我的简介</title>
	<link rel="stylesheet" type="text/css" href="/static/css/detail.css">
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="head">
			<a href="#" class="logo"><img src="/static/img/sslogo.jpg" ></a>
			<a href="#" class="login"><p class='open'>裘老板</p></a>
			<div class="nav">
				<ul>
					<li><a class='open' href="">个人中心</a></li>
					<li><a class='open' href="">修改密码</a></li>
					<li><a class='open' href="">注销</a></li>
				</ul>
      </div>
    </div>
		<div class="main">
			<div class="detail">
				<div class="deleft">
					<img src="/static/img/head.jpg" alt="">
				</div>
				<div class="deright">
					<p class="title">王康</p>
					<p>等级：12级</p>
					<p>手机：15104466822</p>
					<p>工作地：北京</p>
					<p>写给兄弟们的话：这波就是不亏</p>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/static/js/detail.js"></script>
</html>
