<!DOCTYPE html>

      </div>
      <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="/static/js/ripples.min.js"> </script>
      <script src="/static/js/material.min.js"> </script>
      <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>

      <script type="text/javascript" charset="utf-8">
        $(function () {
          $.material.init();
          $(".shor").noUiSlider({
            start: 40,
            connect: "lower",
            range: {
              min: 0,
              max: 100
            }
          });

          $(".svert").noUiSlider({
            orientation: "vertical",
            start: 40,
            connect: "lower",
            range: {
              min: 0,
              max: 100
            }
          });
        });
      </script>
    </div>
	</body>
</html>
