<!DOCTYPE html>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
      {% if brand.has_key('active') %}
			  <a class="navbar-brand active" href="{{ brand['href'] }}">{{ brand['name'] }}</a>
      {% else %}
		  	<a class="navbar-brand" href="{{ brand['href'] }}">{{ brand['name'] }}</a>
      {% end %}
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{% for nav in navs %}
					{% if nav.has_key('active') %}
					<li class="active">
					{% else %}
					<li>
					{% end %}
						<a href="{{ nav['href'] }}">{{ nav['name'] }}</a>
					</li>
				{% end %}
			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</nav>
