<!DOCTYPE html>
<div class="bs-component">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ brand['href'] }}" style="width:190px;">
          <img src="/static/img/sslogo.jpg" alt=""/ style="width: 90px;
          height:100%; float:left;">
          <span style='color:#ff621f'>{{ brand['name'] }}</span>
        </a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          {% for nav in navs %}
            {% if nav.has_key('active') %}
            <li class="active">
              <a href="{{ nav['href'] }}">{{ nav['name'] }}</a>
            </li>
            {% else %}
            <li>
              <a href="{{ nav['href'] }}">{{ nav['name'] }}</a>
            </li>
            {% end %}
          {% end %}
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group is-empty">
            <input type="text" class="form-control col-md-8" placeholder="Search">
            <span class="material-input"></span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if login['name'] != "登录" %}
          <li class="dropdown">
            <a href="{{ login['href'] }}" class="dropdown-toggle" data-toggle="dropdown", aria-expanded="false">
              <i class="material-icons">account_box</i>
              <span>{{ login['name'] }}</span>
              <b class="caret"></b>
              <div class="ripple-container"></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user/{{ username }}">个人中心</a></li>
              <li><a href="/logout">注销</a></li>
            </ul>
          </li>
          {% else %}
          <li>
            <a href="{{ login['href'] }}">
              <i class="material-icons">account_box</i>
              <span>{{ login['name'] }}</span>
            </a>
          </li>
          {% end %}
        </ul>
      </div>
    </div>
</div>
