<!DOCTYPE html>
	{% include head.html %}
    </head>
  <body>
		{% module NavbarHeader(url, username) %}
    <div class="main-shadow">
      <div class="container">
        <div class="well bs-component" style="margin:0 auto; width:480px;">
          <form class="form-horizontal" method="post" action="/login">
            <fieldset>
              {% if url == '/login?next=%2FHallofFame' or url == '/login?next=%2FMusic' %}
              <div id="err" class="alert alert-dismissible alert-warning">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <p id="p-err">请登录后查看!</p>
                </div>
              {% end %}
              <legend>登录</legend>
              {% module xsrf_form_html() %}
              <div class="form-group is-empty">
                <label for="inputEmail" class="col-md-2 control-label">邮箱账号</label>
                <div class="col-md-10">
                  <input type="email" name="username" class="form-control" id="inputEmail" placeholder="Email" required onkeypress="if(event.keyCode==13) {button.click();return false;}" autofocus="autofocus">
                </div>
                <span class="material-input"></span>
              </div>
              <div class="form-group is-empty">
                <label for="inputPassword" class="col-md-2 control-label">密码</label>

                <div class="col-md-10">
                  <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required onkeypress="if(event.keyCode==13) {button.click();return false;}">
                </div>
                <span class="material-input"></span>
              </div>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <input type="button" id="button" value="登录" class="btn btn-raised btn-primary" onclick="jacascript:getHTML();">
                  <a href="/register" class="btn btn-raised btn-default">新用户注册</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <script type="text/javascript" src="static/js/login.js" charset="utf-8"> </script>
      {% include foot.html %}
