<!DOCTYPE html>
	{% include head.html %}
  <body>
		{% module NavbarHeader(url) %}
    <div class="container">
      {% module xsrf_form_html() %}
      <div class="well bs-component" style="margin:0 auto; width:500px;">
        <form class="form-horizontal">
          <fieldset>
            <legend>登录</legend>
            <div class="form-group is-empty">
              <label for="inputEmail" class="col-md-2 control-label">邮箱账号</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <span class="material-input"></span>
            </div>
            <div class="form-group is-empty">
              <label for="inputPassword" class="col-md-2 control-label">密码</label>

              <div class="col-md-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <span class="material-input"></span>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-raised btn-primary">登录</button>
                <button type="button" class="btn btn-raised btn-default">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
       {% include foot.html %}

