<!DOCTYPE html>
	{% include head.html %}
  <body>
		{% module NavbarHeader(url, username) %}
    <div class="main-shadow">
      <div class="container">
        <div class="well bs-component" style="margin:0 auto; width:500px;">
          <form class="form-horizontal" method="post" action="/register">
            <fieldset>
              {% if error is not None %}
                <div class="alert alert-dismissible alert-warning">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <p>{{ escape(error) }}</p>
                </div>
                {% end %}
              <legend>注册</legend>
              {% module xsrf_form_html() %}
              <div class="form-group is-empty">
                <label for="inputEmail" class="col-md-2 control-label">邮箱账号</label>
                <div class="col-md-10">
                  <input type="email" name="username" class="form-control" id="inputEmail" placeholder="Email" required>
                </div>
                <span class="material-input"></span>
              </div>

              <div class="form-group is-empty">
                <label for="inputNickname" class="col-md-2 control-label">昵称</label>
                <div class="col-md-10">
                  <input type="nickname" name="nickname" class="form-control"
                  id="inputNickname" placeholder="Nickname" required>
                </div>
                <span class="material-input"></span>
              </div>

              <div class="form-group is-empty">
                <label for="inputPassword" class="col-md-2 control-label">密码</label>

                <div class="col-md-10">
                  <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
                </div>
                <span class="material-input"></span>
              </div>

              <div class="form-group is-empty">
                <label for="inputSecretcode" class="col-md-2 control-label">激活码</label>

                <div class="col-md-10">
                  <input type="Secretcode" name="Secretcode" class="form-control"
                  id="inputSecretcode" placeholder="激活码" required>
                </div>
                <span class="material-input"></span>
              </div>

              <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                  <button type="submit" class="btn btn-raised btn-primary">注册</button>
                  <a href="/login" class="btn btn-raised btn-default">登录</a>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
         {% include foot.html %}
