<!DOCTYPE html>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="bs-component">
    <div class="btn-group-vertical">
      {% for grade in grades %}
        {% if grade.has_key('active') %}
        <a href="{{ grade['url'] }}" class="btn btn-raised btn-lg active">{{ grade['name'] }}<div class="ripple-container"></div></a>
        {% else %}
        <a href="{{ grade['url'] }}" class="btn btn-raised btn-lg">{{ grade['name'] }}<div class="ripple-container"></div></a>
        {% end %}
      {% end %}
    </div>
	</div>
</div>
