<!DOCTYPE html>
{% include head.html %}
  </head>
<body>
  {% module NavbarHeader(url, username) %}
  <div class="main-shadow">
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">

          <div class="col-md-9">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                  <legend>个人资料</legend>
                  <div id="err" class="alert alert-dismissible alert-warning" style="display:none">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      <p id="p_err"></p>
                  </div>
                  {% module xsrf_form_html() %}
                  <div class="form-group">
                    <label for="inputGrade" class="col-md-2 control-label">年级</label>
                    <div class="col-md-10">
                      <select name="grade" id="Grade" class="form-control">
                          <option value="">请选择</option>
                        {% for grade in [x for x in range(2005, 2018)] %}
                          {% if str(grade)==user.grade %}
                          <option value="{{ grade }}" selected="selected">{{ grade }}</option>
                          {% else %}
                          <option value="{{ grade }}">{{ grade }}</option>
                          {% end %}
                        {% end %}
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPhone" class="col-md-2 control-label">联系电话</label>
                    <div class="col-md-10">
                      <input type="Phone" class="form-control" id="inputPhone" value="{{ user.phonenum }}"placeholder="Phone" onkeypress="if(event.keyCode==13) {button.click();return false;}" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPlace" class="col-md-2 control-label">所在地</label>
                    <div class="col-md-10">
                      <input type="Place" class="form-control" id="inputPlace" value="{{ user.place }}" placeholder="Place" onkeypress="if(event.keyCode==13) {button.click();return false;}" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputFile" class="col-md-2 control-label">File</label>

                    <div class="col-md-10">
                      <input type="text" readonly="" class="form-control" placeholder="Browse...">
                      <input type="file" id="inputFile" multiple="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textArea" class="col-md-2 control-label">Textarea</label>

                    <div class="col-md-10">
                      <textarea class="form-control" rows="3" id="textArea"></textarea>
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="button" value="修改" id="button" class="btn btn-raised btn-primary" onclick="jacasrcipt:Fixuser();"/>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
      </div>
    </div><!--/row-->
    <script type="text/javascript" src="/static/js/user.js" charset="utf-8"></script>
    {% include foot.html %}
